body {
    color: black;
    font-family:"Open Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
    overflow-x: hidden!important;
    min-height: 100%;
    z-index: -2;
    margin: 0px;
    background: url('../img/bg1.jpg') no-repeat top center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.container{
    line-height: 25px;
    width:500px;
    height:580px;
    float:left;
    border:2px solid #a1b0ba;
    margin: 1.5% 0px 0px 35%;
    background-color: cadetblue;
}
.input_text{
    width :60px;
    height: 25px;
}
.input_class{
    margin: 3px 0px 0px 3px;
    display: block;
    width: 142px;
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.div-left{
    float:left;
    border:2px solid #a1b0ba;;
    width:225px;
    height: 545px;
    margin: 15px 0px 0px 0px;
    background-color: azure;
}
.div-right{
    float:right;
    border:2px solid #a1b0ba;;
    width:225px;
    height: 545px;
    margin: 15px 0px 0px 0px;
    background-color: azure;
}
.div-bar{
    border: 1px solid #a1b0ba;
    border-radius: 5px;
    margin: 2px 2px 2px 2px;
}

.div-bar-login{
    height: 56px;
    border: 1px solid #a1b0ba;
    border-radius: 5px;
    margin: 2px 2px 2px 2px;
}

div span{
    font-weight: 600;
}
div label{
    margin: 5px 0px 0px 0px;
    line-height: 5px;
    display: inline-block;
}
.div_span{
    font-size: 1.5em;
    /*-webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;*/
    font-weight: bold;
    margin-left: 30%;
}

.login_button{
    margin: -29px 4px;
    float: right;
    color: #fff;
    background-color: #428bca;
    display: inline-block;
    padding: 3px 9px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    letter-spacing: 0.5em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-appearance: button;
    font-family: inherit;
    overflow: visible;
}

.div_button{
    font-size:13px;
    /*background-color:#ece9d8;*/
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
    padding: 1px 10px 5px 10px;
    height: 30px;
    border-width: 2.3px;
    font-weight: bold;
    display: inline;
    margin: 4px 10px 10px 10px;
    width: 85px;
    border-radius : 4px;
}
.confirm_button{
    font-size:13px;
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
    padding: 2px 15px 5px 20px;
    height: 30px;
    border-width: 2.3px;
    margin: 4% 0% 4% 30%;
    font-weight: bold;
    letter-spacing: 0.5em;
    border-radius : 4px;
}