body {
    color: #228B22;
    font-family:"Open Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
    overflow-x: hidden!important;
    min-height: 100%;
    z-index: -2;
    margin: 0px;
    background: url('../img/bg1.jpg') no-repeat top center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.container{
    line-height: 25px;
    width:500px;
    height:580px;
    float:left;
    border:2px solid #a1b0ba;
    margin: 3.5% 35% 3.5% 35%;
    background-color: cadetblue;
}
.input_text{
    width :60px;
    height: 22px;
    font-size: 14px;
    line-height: 1.42;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input_text:focus{
    -webkit-box-shadow: 0 0 5px #0F0F0F;
    -moz-box-shadow:0 0 5px #0F0F0F;
    box-shadow: 0 0 5px #0F0F0F;
    border-color:#FF0000;
    outline:0;
    background: #EEE8CD;
}

.input_tip_1{
    color: red;
    margin-left: 5px;
}

.input_tip_2{
    margin-left: 8px;
    color: #ACA899;
}

.input_class{
    margin: 6px 0px 0px 5px;
    width: 135px;
    height: 30px;
    padding: 0px 5px;
    font-size: 14px;
    line-height: 1.42;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input_class:focus{
    -webkit-box-shadow: 0 0 5px #0F0F0F;
    -moz-box-shadow:0 0 5px #0F0F0F;
    box-shadow: 0 0 5px #0F0F0F;
    border-color:#FF0000;
    outline:0;
    background: #EEE8CD;
}

.div-left{
    float:left;
    border:2px solid #a1b0ba;;
    width:225px;
    height: 545px;
    margin: 15px 0px 0px 0px;
    background-color: azure;
}
.div-right{
    float:right;
    border:2px solid #a1b0ba;;
    width:225px;
    height: 545px;
    margin: 15px 0px 0px 0px;
    background-color: azure;
}
.div-bar{
    border: 1px solid #a1b0ba;
    border-radius: 5px;
    margin: 2px 2px 2px 2px;
}

.div-bar-login{
    height: 70px;
    border: 1px solid #a1b0ba;
    border-radius: 5px;
    margin: 2px 2px 2px 2px;
}

div span{
    font-weight: 600;
}
div label{
    margin: 5px 0px 0px 0px;
    line-height: 5px;
    display: inline-block;
}
.div_span{
    font-size: 1.5em;
    /*-webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;*/
    font-weight: bold;
    margin-left: 30%;
}

.left-input{
    width: 145px;
    height: 30px;
}

button[disabled], input[disabled]{
    border: 1px solid #DDD;
    background-color: #F5F5F5;
    color:#ACA899;
}

.right_button{
    width: 64px;
    margin: -23px 0px 0px 144px;
}

.login_button{
    font-size:13px;
    color: #fff;
    background-color: #458B74;
    border-color: #7FFF00;
    height: 26px;
    border-width: 2.3px;
    font-weight: bold;
    display: inline;
    width: 60px;
    border-radius : 4px;
}
.logout_button{
    font-size:13px;
    color: #fff;
    background-color: #458B74;
    border-color: #7FFF00;
    height: 26px;
    border-width: 2.3px;
    font-weight: bold;
    display: inline;
    width: 60px;
    border-radius : 4px;
    margin-bottom: -11px;
}

.div_button{
    font-size:13px;
    /*background-color:#ece9d8;*/
    color: #fff;
    background-color: #458B74;
    border-color: #7FFF00;
    padding: 1px 10px 5px 10px;
    height: 30px;
    border-width: 2.3px;
    font-weight: bold;
    display: inline;
    margin: 4px 10px 10px 10px;
    width: 85px;
    border-radius : 4px;
}
.confirm_button{
    font-size:13px;
    color: #fff;
    background-color: #458B74;
    border-color: #7FFF00;
    padding: 2px 15px 5px 20px;
    height: 30px;
    border-width: 2.3px;
    margin: 4% 0% 4% 30%;
    font-weight: bold;
    letter-spacing: 0.5em;
    border-radius : 4px;
}